In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .master("local")\
        .appName("test")\
            .getOrCreate()

data = [
    ('Jame','','Smith','1991-04-01','M',3000),
    ('John','','Smith','1991-06-02','M',3000),
    ('Tom','','Guy','1992-02-01','M',3000),
    ('Alex','','jitm','1992-04-05','M',3000),
    ('Gome','','Gomez','1993-02-01','F',3000),
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]

df = spark.createDataFrame(data=data,schema=columns)
print(df.printSchema())

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

None