In [1]:
from pyspark.sql import SparkSession

In [2]:
#tạo một sparkSession
spark = SparkSession.\
    builder.\
        appName("sparksql").\
        getOrCreate()

In [3]:
print(spark.version)

3.5.1

In [4]:
#đọc file csv
data = spark.read.format('csv').\
option('inferSchema','true').\
option('header','true').\
option('path','operations_management.csv').\
load()

In [5]:
# xem cấu trúc schema
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [6]:
#lọc ra dữ lự ở hàng industry và value với điều kiện value > 10000 và sắp xếp theo vaule
data_2 = data.select("industry","value").\
filter((data.value > 200)&(data.industry != "total")).\
orderBy("value")

In [7]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [8]:
# dùng .show() để hiển thị dữ liệu
data_2.show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|Health care & soc...|  201|
|      Other services|  201|
|Agriculture, fore...|  201|
|           Auxiliary|  201|
|           Auxiliary|  201|
+--------------------+-----+
only showing top 5 rows

In [9]:
data_2.createOrReplaceTempView("data")

In [10]:
spark.sql("""SELECT industry,value FROM data WHERE industry !="total" AND value > 200""").show()

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|Information media...|  201|
|Other professiona...|  201|
|Petroleum, coal, ...|  201|
|Food, beverage, &...|  201|
|Agriculture, fore...|  201|
|           Auxiliary|  201|
|Financial & insur...|  201|
|      Other services|  201|
|Other wholesale t...|  201|
|Agriculture, fore...|  201|
|Administrative & ...|  201|
|Machinery & equip...|  201|
|           Auxiliary|  201|
|Arts & recreation...|  201|
|        Retail trade|  201|
|Food, beverage, &...|  201|
|         Agriculture|  201|
|Arts & recreation...|  201|
|Food, beverage, &...|  201|
|Food, beverage, &...|  201|
+--------------------+-----+
only showing top 20 rows