In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

spark = SparkSession.builder.appName("Remove Duplicates").getOrCreate()

In [7]:
print(spark.version)

3.5.1

In [8]:
# # Sample data
# people_list = [
#     (1, "Hoa", 34, "50M"),
#     (1, "Hoa", 34, "50M"),
#     (1, "Hoa", 34, "60M"),
#     (1, "Nam", 26, "30M"),
#     (2, "Nam", 26, "40M"),
# ]

In [9]:
# df = spark.createDataFrame(people_list).toDF("id","name","age","salary")

In [10]:
df = spark.read.csv('people_list.csv',header=True,inferSchema=True)

In [11]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- age: string (nullable = true)
 |-- name: double (nullable = true)
 |-- salary: string (nullable = true)

In [12]:
# Show the original DataFrame
df.show()

+---+------+----+------+
| id|   age|name|salary|
+---+------+----+------+
|  1| "Hoa"|34.0| "50M"|
|  1| "Hoa"|34.0| "50M"|
|  1| "Hoa"|34.0| "60M"|
|  1| "Nam"|26.0| "30M"|
|  2| "Nam"|26.0| "40M"|
+---+------+----+------+