In [2]:
#Python Pandas Tutorial (Part 3): Indexes - How to Set, Reset, and Use Indexes

In [3]:
people = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreyMSchafer@gmail.com",
}

In [4]:
people = {
    "first":["Corey"],
    "last":["Schafer"],
    "email":["CoreyMSchafer@gmail.com"],
}

In [5]:
people = {
    "first":["Corey",'Jane','John'],
    "last":["Schafer",'Doe','Doe'],
    "email":["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com'],
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [9]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
df.set_index('email', inplace=True) # đặt email làm chỉ mục , dùng inplace để lưu

In [11]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [12]:
df.index #dùng index để xem các cột được đặt làm chỉ mục

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [15]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [18]:
df.reset_index(inplace=True) #đặt lại bảng ghi

In [19]:
df

   index                    email  first     last
0      0  CoreyMSchafer@gmail.com  Corey  Schafer
1      1        JaneDoe@email.com   Jane      Doe
2      2        JohnDoe@email.com   John      Doe