In [22]:
#Python Pandas Tutorial (Part 4): Filtering - Using Conditionals to Filter Rows and Columns

In [23]:
people = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreyMSchafer@gmail.com",
}

In [24]:
people = {
    "first":["Corey"],
    "last":["Schafer"],
    "email":["CoreyMSchafer@gmail.com"],
}

In [25]:
people = {
    "first":["Corey",'Jane','John'],
    "last":["Schafer",'Doe','Doe'],
    "email":["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com'],
}

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame(people)

In [28]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [35]:
filt = ((df['last']=='Schafer') | (df['first']=='John')) #filter DataFrame

In [36]:
#df[filt]

In [39]:
#df.loc[filt,['email','first']] #giá trị đầu tiên là các hàng muốn hiện thị , giá trị thứ 2 là các cột muốn hiển thị
df.loc[~filt,'email'] #thêm ~ để phủ định

1    JaneDoe@email.com
Name: email, dtype: object