In [1]:
#Python Pandas Tutorial (Part 2): DataFrame and Series Basics - Selecting Rows and Columns
#về cơ bản dataFrame là nơi chứa nhiều đối tượng chuỗi (quan trọng)

In [2]:
people = {
    "first":"Corey",
    "last":"Schafer",
    "email":"CoreyMSchafer@gmail.com",
}

In [3]:
people = {
    "first":["Corey"],
    "last":["Schafer"],
    "email":["CoreyMSchafer@gmail.com"],
}

In [4]:
people = {
    "first":["Corey",'Jane','John'],
    "last":["Schafer",'Doe','Doe'],
    "email":["CoreyMSchafer@gmail.com",'JaneDoe@email.com','JohnDoe@email.com'],
}

In [5]:
people["email"]

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [9]:
#df['email'] #cách 1 #accessing a single column
df.email #cách 2

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [10]:
type(df['email']) #type : series về cơ bản vẫn là một danh sách dữ liệu nhưng giống với khung dữ liệu

pandas.core.series.Series

In [11]:
df[['last','first']] #accessing multiple columns. một chuỗi về cơ bản là một cột gồm nhiều hàng

      last  first
0  Schafer  Corey
1      Doe   Jane
2      Doe   John

In [12]:
df.columns # cách lấy ra các cột

Index(['first', 'last', 'email'], dtype='object')

In [13]:
#df.iloc[0] #trả về giá trị của hàng theo chỉ mục
df.iloc[[0,1],2] #trả về giá trị cột thứ 2 của hàng thứ nhất và thứ hai

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [14]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
df.loc[[0,1],['email','last']] #trả về cột email và cột last của 2 hàng đầu tiên

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe